disnake-jishaku {{ package.version }}

https://pypi.org/project/disnake-jishaku/{{ package.version }}/
https://github.com/Kraots/jishaku/tree/{{ env('tag_name') }}
https://disnake-jishaku.readthedocs.io/en/latest/whatsnew.html#version-{{ package.version.replace('.', '-') }}

It is advised that you install disnake-jishaku directly through the pip package manager.

Install the latest version of disnake-jishaku:
```bash
pip install -U disnake-jishaku
```

Install specifically this version of disnake-jishaku (not recommended):
```bash
pip install -U disnake-jishaku=={{ package.version }}
```

Artifacts are included with this release for debugging convenience.
